
@media(max-width: 976px) {
    .app-header.bg-light .navbar-brand{
        padding-left: 0;
    }
}
/* DATEPICKER */
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #2184ff !important;
    border-color: #0776ff !important;
}
.datepicker table tr td span.active.active{
    background-color: #2184ff !important;
    border-color: #0776ff !important;
}
.daterangepicker .drp-selected{
    display: none !important;
}
/* END DATEPICKER */

/* DATERANGEPICKER */
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #2184ff !important;
}
.daterangepicker .ranges li.active {
    background-color: #2184ff !important;
}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date{
    color: #323232 !important;
}
/* END DATERANGEPICKER */

/* SELECT2 */
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #2184ff !important;
    color: #fff;
}

/* END SELECT2 */

/* PRIMARY */
.text-primary {
    color: #2184ff!important;
}
.bg-primary{
    background-color: #2184ff !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #006aed;
    border-color: #0776ff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2184ff;
}
a {
    color: #2184ff;
}

a:hover{
    color: #006aed;
}

.btn-link{
    color:#2184ff;
}
.btn-link:hover{
    color:#006aed;
}

.btn.focus, .btn:focus, .dataTables_wrapper .dataTables_paginate .focus.paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0,106,237, .25);
}

.btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff;
    background-color: #2184ff;
    border-color: #2184ff;
}

.btn-primary:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff;
    background-color: #006aed;
    border-color: #0776ff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:not(:disabled):not(.disabled).active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:not(:disabled):not(.disabled):active, .dataTables_wrapper .dataTables_paginate .show>.dropdown-toggle.paginate_button.current, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #006aed;
    border-color: #0776ff;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .dataTables_wrapper .dataTables_paginate .paginate_button.current:not(:disabled):not(.disabled).active:focus, .dataTables_wrapper .dataTables_paginate .paginate_button.current:not(:disabled):not(.disabled):active:focus, .dataTables_wrapper .dataTables_paginate .show>.dropdown-toggle.paginate_button.current:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(0,106,237, .25);
}
.btn-primary.disabled, .btn-primary:disabled, .dataTables_wrapper .dataTables_paginate .disabled.paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:disabled {
    color: #fff;
    background-color: #54a0ff;
    border-color: #54a0ff;
}
.btn-outline-primary {
    color: #2184ff;
    border-color: #2184ff;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #006aed;
    border-color: #0776ff;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2184ff;
    border-color: #2184ff;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(51, 97, 255 .25);
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2184ff;
    border-color: #2184ff;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 2px rgba(94,196,166,.5);
}
.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 2px rgb(228 99 114 / 50%);
}

.dataTables_wrapper .dataTables_filter input:focus, .dataTables_wrapper .dataTables_length select:focus, .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0776ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0,106,237, .25);
}
table.table-hover tbody tr:hover {
    background-color: rgba(0,106,237, .1);
}
.navbar-toggler:focus{
    outline: none;
}
.invalid-feedback{
    display: block;
}
.dropdown-item i {
    color: #212529;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item.active i, .dropdown-item:active i {
    color: #fff;
    text-decoration: none;
    background-color: #2184ff;
}

.sidebar.sidebar-pills .nav-link.active .nav-icon,
.sidebar.sidebar-pills .nav-link.active, .sidebar.sidebar-pills .nav-link:hover, 
.sidebar-pills .nav-link:hover .nav-icon {
    background-color: rgba(0,0,0,.02);
    color: #2184ff!important;
}

/* END PRIMARY */

/* PACE */
.pace .pace-progress {
    background: #2184ff;
}